a{
	text-decoration: none;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  text-align: center;
}

 #main-menu {
	margin: 0px;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: none;
	grid-template-columns: repeat(4, 1fr);
 }
 
 #button {
	width: 21em;
	border: 1px white;
    background: #CCCCFF;
}
a {
    display: block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: black;
    background:#AEC6CF;
}

.container{
	display: grid;
	grid-gap: 10px;
	grid-template-columns:(2,1fr);
	grid-template-rows:(2,1fr);
	text-align: center;
	color: =-/gppg#black;
	font-family: MingLiU;
	margin-top: 70px;
	margin-bottom: 100px;
}

.one {
	grid-column: 1/3;
	grid-row: 1/2;
}

.two {
	grid-column: 3/6;
	grid-row: 1/2;
}

.three {
	grid-column: 1/2;
	grid-row: 2/4;
}

.four {
	grid-column: 2/3;
	grid-row: 2/5;
}

.five {
	grid-column: 3/4;
	grid-row: 2/3;
}

.six {
	grid-column: 4/6;
	grid-row: 2/3 ;
}
.container2{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.contact{
	background-image: url(../images/cc.png);
	background-position: center;
	background-size: 300px 120px;
	background-repeat: no-repeat;
	padding: 70px;
}
.follow{
	background-image: url(../images/igg.png);
	background-position: center;
	background-size: 300px 120px;
	background-repeat: no-repeat;
	padding: 70px;
}
/*MAIN FOOTER SECTION*/

.footer {
	background: #F5F5F5;
	padding: 20px;
	margin-bottom: 10px;
	color: black;
	font-family: MingLiU;
}









